<section id="contactus" class="scrollcontactus scrolltop">
    <div class="container-fluid">
      <h2 class="sectiontitle">
        Contact Us
      </h2>
      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-telephone d-block"></i>
          <div class="text">
            <h5>For Orders Please call us<br /> (Door Delivery Available)</h5>
            <a href="tel:8220471233" class="btn callnow">Call Now</a>
            <p>Phone: <a href="tel:0461 4001300">0461 4001300</a>,<br />
              Mobile: <a href="tel:82204 71233">+91 82204 71233</a></p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-geo-alt" style="width: 40px;"></i>
          <div class="text">
            <h5>Address</h5>
            <p>Mr.Abdhul Hameed<br />
              72, South New Street,<br />
              Thoothukudi,<br />
              Tamil Nadu - 628002 .</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-clock" style="width: 40px;"></i>
          <div class="text">
            <h5>
              Timing
            </h5>
            <p>
              All days<br />
              12:00pm – 4:30pm & 6pm – 11pm
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-send" style="width: 40px;"></i>
          <div class="text">
            <h5>
              Mail & Website
            </h5>
            <p>
              umarabdallah123@gmail.com<br />
              <a href="http://www.arabianrestauranttuticorin.in/" target="_blank">www.arabianrestauranttuticorin.in</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="googlemap">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="locationbox">
            <h4>
              Location
            </h4>
            <p>
              Mr.Abdhul Hameed<br />
              72, South New Street,<br />
              Thoothukudi,<br />
              Tamil Nadu - 628002 .
            </p>
          </div>
          <div class="map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3942.806778375986!2d78.14830260000001!3d8.804215800000009!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b03ef98ef349739%3A0x15955beec6a3be48!2sArabian%20Restaurant!5e0!3m2!1sen!2sin!4v1638172727708!5m2!1sen!2sin"
              width="100%" height="500px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>