.main {
    font-family: "poppins",arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8;
    color: #c49b63;
    background: black;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.table {
    color: #c49b63;
}
.table td {
    border-top: none;
}
#menu h3 {
    font-family: "great vibes", sans-serif;
    font-size: 40px;
    color: #fff;
    line-height: 1;
    display: block;
    margin-top: 20px;
    margin-bottom: -5px;
}
a {
    border: 1px solid #c49b63;
    border-radius: 0;
    padding: 1em 1.5em;
    background: transparent;
    color: gray;
    margin-bottom: 4%;
  }
  a:hover {
    background: #c49b63;
    color: #fff;
  }
  #menu a:active {
    outline: 0;
  }