    .main {
      background: url(../assets/images/bg2.webp) no-repeat fixed;      
      background-size: cover;
      background-position: center;
      overflow: hidden;
      font-family: "poppins",arial, sans-serif;
      font-size: 15px;
      font-weight: 300;
      line-height: 1.8;
      color: #D3D3D3;
    }
  .texteffect {
    font-family: "great vibes", sans-serif;
    font-size: 50px;
    color: #c49b63;
    line-height: 1;
    display: block;
    margin-bottom: -20px;
  }
  .sectiontitle {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
  }
  #aboutus .textwrapper {
    padding: 8% 5% 8% 5%;    
  }
  #aboutus .overlap {
    padding: 3%;
    margin-left: -150px;
    background: rgba(0, 0, 0, 0.7);
  }
  @media (max-width: 764px) {
    #aboutus .overlap {
      margin-left: 0;
      margin-top: -120px;
    }
    #aboutus .textwrapper {
      padding: 4% 3% 4% 3%;    
    }
  }
  @media (max-width: 520px) {
    #aboutus .overlap {
      margin-left: 0;
      margin-top: -103px;
    }
  }
  