<section id="menu" class="scrollmenu scrolltop">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 col-md-6" data-aos="fade-up">
          <span class="texteffect">Discover</span>
          <h2 class="sectiontitle">
            Our Menu
          </h2>
          <p>
            The Arabian Restaurants’ motto to make people taste buds are as the happier one always. The hospitality
            for
            the customer can be considered as a main goal of the Restaurant. Maintaining the High quality and taste of
            a
            food is the vision of Arabian Restaurant in upcoming years.
          </p>
          <a routerLink="menu" class="btn">View Full Menu</a>
        </div>

        <div class="col-lg-6 col-md-6">
          <div class="row d-flex">
            <div class="col-md-6 mb-3" data-aos="fade-up" data-aos-delay="100">
              <img src="../assets/images/Food_1.jpg" class="menuimg" alt="">
            </div>
            <div class="col-lg-6 col-md-6 mt-3 mb-3" data-aos="fade-up" data-aos-delay="150">
              <img src="../assets/images/Food_10.jpg" class="menuimg" alt="">
            </div>
            <div class="col-lg-6 col-md-6 mb-3" data-aos="fade-up" data-aos-delay="200">
              <img src="../assets/images/Food_13.jpg" class="menuimg" alt="">
            </div>
            <div class="col-lg-6 col-md-6 mt-3" data-aos="fade-up" data-aos-delay="250">
              <img src="../assets/images/Food_16_shawerma_spl_item.jpg" class="menuimg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
