<section id="intro" class="scrollintro">
    <div class="intro-container">
        <div id="carouselExampleCaptions" class="carousel slide" data-interval="2000" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active bgb">
                    <img src="../assets/images/Mandhi_Wallpaper1_2.jpg"
                        class="introimage d-block mx-auto h-100 imgshrink" alt="">
                    <div class="carocalldiv">
                        <div class="carocal d-flex"><a href="tel:8220471233" class="btn callnow">Call Now</a></div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/assets/images/Mandhi_2.jpg" class="d-block w-100 h-100 intro-img" alt="" loading="lazy">
                    <div class="carousel-caption">
                        <h1 class="title">LAMB MANDHI</h1>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/assets/images/Mandhi_5.jpg" class="d-block w-100 h-100 intro-img" alt="" loading="lazy">
                    <div class="carousel-caption d-md-block">
                        <h1 class="title">CHICKEN MANDHI</h1>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../assets/images/hall.jpg" class=" d-block w-100 h-100 intro-img" alt="">
                    <div class="carousel-caption titlealign d-md-block">
                        <h1 class="title">Family <span>&#x2215;</span> Party Hall</h1>
                    </div>
                    <div class="carocalldiv1">
                        <div class="carocal d-flex"><a href="tel:8220471233" class="btn callnow">Book Now</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>